.main{width: 100%;}
.mainCenter{padding: 10px 0;margin: 20px 0;min-width: 1200px}
.info{width: 100%;height: 180px;padding: 0 10px;margin-bottom: 10px;}
.info img{width: 150px;height: 180px;margin-right: 10px;}
@media (max-width: 500px){
  .info{height: 90px;}
  .info img{width: 60px;height: 90px;}
}
.mainCenter ul{width: 100%;}
.mainCenter ul li{width: 20%;height: 40px;line-height: 37px;text-align: center;background-color: #29e;color: #fff;cursor: pointer;}
.mainCenter ul li:hover{border-bottom: 3px solid #f00;}
.researchField{color: #29e;}
.name{font-size: 20px;font-weight: bolder;}
.mainInfoDiv,.coursesDiv,.videoDiv,.photoesDiv,.circleDiv{display: none;padding: 10px 30px;}
@media (max-width: 500px){
  .mainInfoDiv,.coursesDiv,.videoDiv,.photoesDiv,.circleDiv{padding: 10px 5px;}
}
.glyphicon-user{display: inline-block;margin-right: 5px;color: #fd740c;}
.tName{color: #000;font-size: 20px;font-weight: bolder;}
.CooperativePrice{color: #f00;font-size: 20px;font-weight: bold;}
.tips{color: #29e;margin-left: 5px;}
.phoneNumber{padding: 2px 5px;border: none;outline: none;background-color: #29e;color: #fff;border-radius: 3px;}
#coursesList tr th,#coursesList tr td{text-align: center;}
.more,.delete,.change{cursor: pointer;margin: 0 2px;}
.deleteCourse{display: none;text-align: center;font-size: 25px;margin: 20px;}
.researchField{cursor: pointer;}
.lookCourseDetails{text-decoration: none;color: #29e;cursor: pointer;}
.moreOption button{border: none;background-color: #29e;color: #fff;outline: none;border-radius: 5px;padding: 5px 8px;margin: 0 5px;}
#showList tr th{display: none;}
#showList tr td:nth-child(1) a{font-size: 16px;font-weight: bold;text-decoration: none;cursor: pointer;}
#imgListTable tr td img{width: 200px;height: 120px;border-radius: 10px;}
#imgListTable tr td .lookPhoto{cursor: pointer;text-decoration: none;}
#imgListTable tr td .lookPhoto:hover{color: #f00;}
#circleList tr th,#circleList tr td{text-align: center;}
.teacherContent{display: none;margin: 20px;}
.teacherContent p{height: 30px;line-height: 30px;}
.teacherContent p span:nth-child(1){display: inline-block;width: 70px;}
.teacherContent p span:nth-child(2){color: #f00;font-size: 16px;}
#circleList tr td .lookCircle{text-decoration: none;cursor: pointer;}
#circleList tr td .lookCircle:hover{color: #f00;}
.loadMore,.noMoreBtn{width: 100%;height: 50px;line-height: 50px;background-color: #29e;color: #fff;text-align: center;border: none;border-radius: 5px;outline: none;}
.noMoreBtn{background-color: #828282;cursor: default;}
#circleList tr th,#imgListTable tr th,#coursesList tr th,#videoListTable tr th{display: none;}
#videoListTable tr td:nth-child(1){position: relative;width: 362px;}
#videoListTable tr td img{  cursor: pointer; }
.videoPlayTime{position: absolute;right: 95px;top: 95px;color: #fff;cursor: pointer;}
.imgAreaLeft{overflow: auto;height: 500px;}
.imgAreaLeft div{height: 190px;}
.imgAreaLeft div img{width: 140px;height: 140px;border-radius: 5px;cursor: pointer;}
.imgAreaLeft div p{height: 20px;text-align: center;margin-top: 10px;font-size: 16px;}
#circleList tr td img{width: 200px;height: 112px;cursor: pointer;}
.circleTitle{font-size: 20px;font-weight: bold;cursor: pointer;}
.seaBtn{cursor: pointer;}
.circleContent{cursor: pointer;}
.imgAreaLeft{width: 20%;text-align: center;}
.imgAreaRight{width: 80%;border-left: 3px solid #ddd;height: 500px;overflow: auto;}
.imgAreaRight>div{width: 48%;text-align: center;}
.imgAreaRight>div img{width: 300px;margin: 3%;height: 240px;border-radius: 15px;cursor: pointer;}
.imgAreaRight>div p{width: 100%;height: 20px;text-align: center;}
.mainFountion #lookTea{background-color: #fff;color: #29e;}
.mainFountion #lookTea a{color: #29e;}
#editor,#editor2,#editor3{border: 1px solid #ddd;padding: 10px;margin: 10px;}
.imgAreaLeft{text-align: center;}
.imgAreaLeft>div{padding: 10px 0;}
.personalProfile span,.CustCase span,.ServiceCom span{font-size: 20px;font-weight: bolder;}
.lookDetails{cursor: pointer;color: #29e;}
/*::-webkit-scrollbar{width:0px}*/
.VideoName{cursor: pointer;}
