.sqDiv{
	
}
.sqDiv form{
    
    display: flex;
   
    flex-wrap: wrap;
}
.sqDiv form label:first-child{
    align-items: flex-start;
 }
.sqDiv form label{
	display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    width:100%;
    margin-left:70px
}
.sqDiv form label input{
	font-size: 14px;
	min-width: 260px
}
.sqDiv form label span textarea{
    width: 360px;
    height: 80px!important;
    font-size: 14px;
}
.sqDiv form label span:nth-child(1){
    color: #333;
    font-weight: bold;
    min-width: 70px;
    margin-right: 10px;
    font-size: 14px
}

.statu{
	color: red;
}
.goback:hover{
	color: #05509a;
}
.goback{
	cursor: pointer;
	font-weight: bold;
    color: #a8a8a8;
}
.goback img{
    width:16px;
	margin-bottom: 5px;
}
.btnArea{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sqDiv ul{
    display: flex;
    background-color: #e8e8e8;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    align-items: center;
    margin-bottom: 30px;
}
.sqDiv ul li{
    width: 25%;
    text-align: center;
    border-right: 2px solid #29e;
    height: 30px;
    line-height: 30px;
}
.sqDiv ul li:last-child{
	border-right: none;
}
.submit{
    background-color: #29e;
    color: white!important;
    text-align: center;
    padding: 0px 35px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 80px;
    height: 36px;
    line-height: 36px;
    width:260px
}
.submit2{
    background-color: #29e;
    color: white!important;
    text-align: center;
    padding: 0px 35px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 115px;
    height: 36px;
    line-height: 36px;
    width:260px
}


#location{
   display:none;
   height: 460px;
   margin: 20px;
}
.piece {
    width:106px
}
.unit{
	position: absolute;
	left: 315px;
}
.unit2{
	position: absolute;
	left: 350px;
}
.tableBox,.tableBox2{
    display:none;
    width: 390px;
    margin: 0 auto;
    margin-top: 20px;
}
#checkTable tbody tr{
    cursor:pointer 
}
.nameNext{
    background-color: #29e;
    color: white;
    padding: 5px 30px;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
    width: 102px;
    display: block;
    margin: 20px auto;
}
#checkTable tbody tr label{
   margin-bottom:0!important 
}
.codeStatu{
   color:red;
}
.dateop{
    display: flex;
    margin-bottom: 20px!important;
    align-items: center;
}
.dateop span{
    width: 100px;
}
.textyc{
    width: 670px!important;
}
.yc{
   align-items: flex-start!important;
}
.carBox{
   display:none
}
.carImg{
   width:120px
}
.carBox{
   width: 760px;
   margin: 0 auto;
   margin-top: 20px;
}