<!DOCTYPE html>
<html ng-app="yqd">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<link rel="icon" href="img/13.png" type="image/x-icon" />
		<title>登录</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/layer.css" />
		<link rel="stylesheet" href="css/innerLogin.css?ver=20190818" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		 crossorigin="anonymous" />
	</head>
	<body ng-controller="loginController">
		<div class="box col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
			<div class="tltle col-lg-12 col-md-12 col-sm-12 col-xs-12">易企点</div>
			<br />
			<div class="left col-lg-3 col-md-3 col-sm-3 col-xs-12"> </div>
			<div class="center col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<form name="myForm" ng-model="myForm" novalidate class="myform">
					<div class="number col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input type="text" class="inputtel form-control" name="username" ng-model="username" placeholder="请输入手机号"
						 ng-pattern="/^1[34578]\d{9}$/" required />
						<br />
						<span class="input-txt1" ng-hide="username" ng-if="myForm.username.$dirty && myForm.username.$error.required">用户名不能为空!</span>
					</div>
					<div class="pwd col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input type="password" class="inputpass form-control" ng-minlength="8" ng-maxlength="18" value="" name="password"
						 ng-model="password" placeholder="密码" required />
						<br />
						<span class="input-mima1" ng-show="myForm.password.$dirty && myForm.password.$error.required">密码不能为空!</span>
						<span class="input-mima2" ng-if="(myForm.password.$error.minlength||myForm.password.$error.maxlength)&&myForm.password.$touched">密码为8-18位</span>
					</div>
					<br />
					<!-- 验证码操作 -->
					<!--    <div class="picYz col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                                                                                                                                <input type="text" class="form-control pull-left" id="picInput" placeholder="不区分大小写">
                                                                                                                                <img src="" alt="" class="pull-right">
                                                                                                                            </div> -->
					<div class="pwd col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button type="submit" ng-click="formValid()">
							<a href="" target="_blank">登录</a>
						</button>
					</div>
				</form>
				<div class="clearfix" id="regDiv">
					<a class="pull-right freeReg">免费注册</a>
				</div>
			</div>
			<div class="right col-lg-3 col-md-3 col-sm-3 col-xs-12"> </div>
			<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
			<script type="text/javascript" src="js/layer.js"></script>
			<script type="text/javascript" src="js/jquery.cookie.js"></script>
			<script type="text/ecmascript" src="js/jquery.sha1.js"></script>
			<script type="text/javascript" src="js/angular.1.2.29.js"></script>
			<script type="text/javascript">
				var app = angular.module('yqd', []);
				app.controller('loginController', ['$scope', '$http', function($scope, $http) {}])
			</script>
			<script type="text/javascript">
				$(document).ready(function() {
					var href = location.href;
					var urlHref = href.split("href"); //以href分割字符url                    
					var goback = urlHref[1].substring(1); //截取href后第一个字符"="后的url
					var picLower;

					function imgLoad() {
						$.post('http://47.94.173.253:8008/SecurityCode.ashx', {}, function(data) {
							var picData = JSON.parse(data);
							picLower = (picData.code).toLowerCase();
							$('.picYz img').attr('src', 'data:image/Jpeg;base64,' + picData.image + '');
						});
					}
					imgLoad();
					$('.picYz img').click(function() {
						imgLoad();
					});
					$('button').click(function() {
						// var picResult = ($('#picInput').val()).toLowerCase();
						// if (picResult == picLower) {

						if ($('.inputtel').val().length == 0 || $('.inputpass').val().length == 0) {
							layer.msg('请完善信息', {
								time: 1000,
							});
						} else {
							var password1 = $('.inputpass').val() + "EQD";
							var password2 = hex_sha1(password1);
							$.post('http://47.94.173.253:8008/User_login1.ashx', {
								u1: $('.inputtel').val(),
								u2: password2
							}, function(data) {
								var data1 = JSON.parse(data); //转成json数据
								var str = JSON.stringify(data1.items); // 将对象转换为字符串;
								localStorage.removeItem("GHY_login");
								localStorage.setItem("GHY_login", str);
								if (Number(data1.status) == 200) {
									location.href = goback;
								} else {
									layer.msg(data1.msg, {
										time: 1000,
									});
								}
							});
						};
						// } else {
						//  layer.msg('验证码错误', {
						//      time: 1000,
						//  });
						// }
					});
					// 免费注册
					$(".freeReg").on("click", function() {
						var urlTail = href.split("?")[1]
						window.location.href = "http://www.eqidd.com/html/reg.html?" + urlTail + "";
					});
				})
			</script>
	</body>
</html>
